* {
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(231, 240, 231);
}
header {
    display: flex;
    background: rgb(184, 206, 180);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(221, 229, 221);
}

.myntra_home {
    height: 45px;
}

.logo_containar {
    margin-left: 4%;
}

.action_bar {
    margin-right: 4%;
}

.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: rgb(31, 30, 30);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 28px 0;
     border-bottom: 4px solid  rgb(184, 206, 180);
}
.nav_bar a:hover{
    border-bottom: 4px solid rgb(1, 64, 1);
}
.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;

}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}

.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 200;
    border-radius: 4px 0 0 4px;
}

.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 0 4px 4px 0; 
}
.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Main section */
.banner_container{
        margin: 40px 0;
}
.banner_img{
    width: 100%;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sale_item{
        width: 250px;
}

/* FOOTER CSS */
.footer_container{
    padding: 30px 0 40px 0;
    background:rgb(241, 246, 241);
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
.footer_column h3{
    text-decoration: none;
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 15px;
}
.footer_app h3{
    font-size: 12px;
    margin: -3px 0 0;
    padding: 0 0 25px;
} 

.footer_column a{
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
}
.android{
    margin-right: 10px;
    height: 42px;
}
.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;
}